<div class="ExtBlocks-block-label flex-container flexnowrap">
    <span class="ExtBlocks-block-icon drag-handle menu-handle">&#9776;</span>
    <span class="ExtBlocks-block-icon ExtBlocks-block-gtype-icon" title="Generated block"><i class="fa-solid fa-g"></i></span>
    <span class="ExtBlocks-block-icon ExtBlocks-block-atype-icon" title="Accumulation block"><i class="fa-solid fa-a"></i></span>
    <span class="ExtBlocks-block-icon ExtBlocks-block-rtype-icon" title="Rewrite block"><i class="fa-solid fa-r"></i></span>
    <span class="ExtBlocks-block-icon ExtBlocks-block-stype-icon" title="Script block"><i class="fa-solid fa-s"></i></span>
    <span class="ExtBlocks-block-icon ExtBlocks-block-preset menu_button" title="API Preset"><i class="fa-solid fa-temperature-full"></i></span>
    <div class="ExtBlocks_block_name flexGrow overflow-hidden"></div>
    <div class="flex-container flexnowrap">
        <label class="checkbox flex-container" for="ExtBlocks_disable">
            <input type="checkbox" name="ExtBlocks_disable" class="disable_ExtBlocks" />
            <span class="ExtBlocks-toggle-on fa-solid fa-toggle-on" data-i18n="[title]ExtBlocks_disable_block" title="Disable block"></span>
            <span class="ExtBlocks-toggle-off fa-solid fa-toggle-off" data-i18n="[title]ExtBlocks_enable_block" title="Enable block"></span>
        </label>
        <div class="edit_existing_ExtBlocks menu_button" data-i18n="[title]ExtBlocks_edit_block" title="Edit block">
            <i class="fa-solid fa-pencil"></i>
        </div>
        <div class="export_ExtBlocks menu_button" data-i18n="[title]ExtBlocks_export_block" title="Export block">
            <i class="fa-solid fa-file-export"></i>
        </div>
        <div class="export_prompt_ExtBlocks menu_button" data-i18n="[title]ExtBlocks_export_block_prompt" title="Export block prompt">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
        </div>
        <div class="delete_ExtBlocks menu_button" data-i18n="[title]ExtBlocks_delete_block" title="Delete block">
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</div>