<div class="ExtBlocks-editor-context-item-label flex-container flexnowrap">
    <span class="drag-handle menu-handle">&#9776;</span>
    <div class="ExtBlocks_editor_context_item_name flexGrow overflow-hidden"></div>
    <div class="flex-container flexnowrap">
        <div class="edit_context_item menu_button" data-i18n="[title]ExtBlocks_edit_context_item" title="Edit item">
            <i class="fa-solid fa-pencil"></i>
        </div>
        <div class="delete_context_item menu_button" data-i18n="[title]ExtBlocks_delete_context_item" title="Delete item">
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</div>