<div id="ExtBlocks-storage-editor-template">
    <div class="ExtBlocks-storage-editor">
        <h3 class="flex-container justifyCenter alignItemsBaseline">
            <strong data-i18n="Blocks Editor">Blocks Editor</strong>
        </h3>

        <div>
            <textarea
                class="ExtBlocks-storage text_pole wide100p textarea_compact"
                data-i18n="[placeholder]ExtBlocks-storage-placeholder"
                placeholder=""
            ></textarea>
        </div>
    </div>
</div>